@function rem($value){
    @return unquote(($value/1px)/16+"rem");
}

$easeTime : 0.25s;
$margin-top : 56px;

$colors: (
    "mattBlackLight": "#FFC0CB ",
    "mattBlackDark": "#FFFAFA",
    "mattGray": "#878d8d",
    "mattRed": "#ec6271"
);

@each $colorName, $colorValue in $colors {
    .bg-#{$colorName}{
        background-color: #{$colorValue};
    }
    .text-#{$colorName}{
        color: #{$colorValue};
    }
}

body{
    @extend .bg-mattBlackLight;
}

